%legend Haluatko pajakursseille kisälliksi tai ohjaajaksi?
%p
  Kesällä paja on auki keskimäärin 14-20 ma, ti, to, pe.
  Ohjelmoinnin perusteet, 12.5 - ~13.6 ja ohjelmoinnin jatkokurssi heinä-elokuussa, noin 5 viikkoa ennen opintojen alkamista.
%br
-# %h1 Ohi on - kysymykset Jamo:lle IRCnetissä (jamo@kapsi.fi)
= render 'form'
