%legend Haluatko kesällä ohpeen ja tai ohjaan kisälliksi tai ohjaajaksi?
%p OhPePajaa on ma ja to 13.5.-13.6.13 klo 16-20
%p OhJaPajaa on ma ja to 29.7.-29.8.13 klo 16-20
%p Ohjaajia palkataan 1-3 ja kisälleitä enemmän. Toiveena on että kisälli/ohjaaja voisi ohjata sekä maanantaina että torstaina, mutta myös vain toisena päivänä ohjaaminen on mahdollista.
%br
%p Syksyllä pajaa on keskimäärin 10-20 ma-pe joka viikko.
%p
  Syksylle ohjaajia palkataan useita ohjaajia ja vielä enemmän kisällejä.
  Tavoitteena on, että pajassa ei ole yhtään vain yhtä kurssia ohjaavaa henkilöä, vaan kaikki osaavat ohjata/kisällöidä useampaa kurssia.
%br
= render 'form'
