%legend Haluatko pajakursseille kisälliksi tai ohjaajaksi?
%p Ohjelmoinnin perusteiden pajaa on ma ja to 13.5.-13.6.13 klo 16-20
%p Ohjelmoinnen jatkokurssin pajaa on ma ja to 29.7.-29.8.13 klo 16-20
%p Kesälle kisällejä kesälle otetaan runsaasti. Toiveenamme on, että kisälli/ohjaaja voisi ohjata sekä maanantaina että torstaina. Myös ainoastaan toisena päivänä ohjaaminen on mahdollista.
%br
%p Syksyllä paja on auki keskimäärin 8 tuntia jokaisena arkipäivinä.
%p
  Syksylle palkataan useita ohjaajia ja mukaan pääsee runsaat määrät kisällejä. Syksyllä pajassa järjestetään ohjelmointikurssien aikaan myös kurssit Tietokone työvälineenä ja C-ohjelmointi.
  Erityisesti ohjaajien tulisi kyetä ohjaamaan useamman kurssin opiskelijoita.
%br
= render 'form'
