.control-group
%b Nimi
%br/
=@kisalli.name
.control-group
%b Opiskelijanumero
%br/
=@kisalli.opnro
.control-group
%b Sähköpostiosoite
%br/
=@kisalli.sposti
.control-group
%b opintopistemäärä
%br/
=@kisalli.opintopisteita
.control-group
%b Opintopisteiden keskiarvo
%br/
=@kisalli.opintojen_ka
.control-group
%b Oletko ollut aikaisemmin pajaohjaajana/kisällinä/assarina? Jos niin mitä?
%br/
=@kisalli.aiemmin
.control-group
%b Haetko kisalliksi/ohjaajaksi?
%br/
%br/
.control-group
%b Haluatko:
%br/
%b Kesä OhPeen kisalliksi
=@kisalli.ohpe1
%br/
%b Kesä OhJaan kisalliksi
=@kisalli.ohja1
%br/
%br/
%b Syksylle 1. periodille kisalliksi
=@kisalli.ohpes
%br/
%b Syksylle 2. periodille kisalliksi
=@kisalli.ohjas
%br/
%br/
%b Syksylle 1 periodille ohjaajaksi
=@kisalli.syksyOhpeOhjaaja
%br/
%b Syksylle 2 periodille ohjaajaksi
=@kisalli.syksyOhjaOhjaaja
%br/
%br/
%b Voin ohjata syksyllä kurssia
%br/
%br/
%b Ohjelmoinnin perusteet
=@kisalli.ohpe
%br/
%b Ohjelmoinnin jatkokurssi
=@kisalli.ohja
%br/
%b Tietorakenteet kurssin pajatehtäviä
=@kisalli.tira
%br/
%b Tietorakenteet kurssin laskuharjoituksien tekemistä (ei vetää laskareita)
=@kisalli.tiralaskarit
%br/
%b Tietokone työvälineenä
=@kisalli.lapio
%br/
%b C
=@kisalli.c
%br/
%br/
%b Voitko tarvittaessa kisällöinnin/ohjauksen ohella kisällöidä/ohjata seuraavia kursseja
%br/
%br/
%b Tietokantojen perusteet
=@kisalli.tikape
%br/
%b Tietokoneen toiminta
=@kisalli.tito
%br/
%b Miksi juuri sinä?
%br/
=@kisalli.miksiSina
%br/
%b Mitä odotat kisällöinniltä/ohjaamiselta?
%br/
=@kisalli.mitaOdotat
%br/
%b Muuta kommentoitavaa
%br/
=@kisalli.muuta
