<% if notice %>
<p id="notice">Vastauksesi on nyt kirjattu. Olemme yhteydess채 sinuun l채hip채ivin채. </p>
<% end %>
<p>
  <b>Nick:</b>
  <%= @answer.nick %>
</p>
<p>
  <b>Name:</b>
  <%= @answer.name %>
</p>
<p>
  <b>Email:</b>
  <%= @answer.email %>
</p>

<p>
  <b>Other:</b>
  <%= @answer.other %>
</p>
