<!DOCTYPE html>
<html>
<head>
  <title>Sinustako OHPEn tentin tarkastajaksi?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-bar">
	<div class="attached">
		<h2>Sinustako OHPEn tentin tarkastajaksi?</h2>
	</div>
</div>
<%= yield %>

</body>
</html>
